<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Industries</title>
</head>

<body>
    <p>
        here us indufhhf
        <a href="http://localhost:5000/industries">Go to industries</a>
    </p>

    <script>
        $.ajax({
            url: 'http://localhost:5000/industries',
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
                alert(data);

            },
            crossDomain: true,

            beforeSend: function (xhr) {
                xhr.setRequestHeader("token", '1549679576861');
            },
            success: function (data, textStatus, jqXHR) {
                console.log('OK!');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }

        });
    </script>
</body>

</html>